In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('soil_fertility.csv')

In [3]:
df.head()

,SAMPLE_NO,SEASON,SAMPLE_DATE,FARMER_ENGLISH_NAME,VILLAGE_NAME_ENGLISH,SURVEY_NO,PH,Unnamed: 7,EC,Organinc Carbon,PHOSPHOROUS,POTASH,CALCIUM_CARBONATE,FERROUS,MANAGESE,ZINK,COPPER
0,35902,2019-2020,5/15/2019,ANNASAO ALIS KIRTIKUMAR GUNDAPPA .DANOLE,SHIRDHON,172/75,730.00,NaN,0.36,0.42,100.66,997.0,5.2,10.90,6.10,0.60,4.60
1,21043,2015-2016,10/12/2015,MAHAVIR BAPU PATIL,SHIRATI,492,8.60,NaN,0.44,1.08,34.90,370.0,12.0,13.30,18.50,1.60,6.30
2,24651,2016-2017,12/22/2016,ADAPPA DADA LADGE,CHAND-SHIRADWAD,121/1,8.58,NaN,0.50,0.78,13.30,403.0,9.6,93.20,12.40,1.19,7.00
3,24976,2016-2017,1/3/2017,GANPATI KESHAV MANE,JAMBHALI,664,8.55,NaN,0.25,0.15,16.50,504.0,6.0,5.50,14.30,1.33,7.88
4,27525,2017-2018,9/18/2017,KUMAR APPA MURCHUTTE,SHEDBAL,797,8.55,NaN,0.48,0.75,1.60,627.0,15.2,6.75,16.55,1.25,4.30

In [4]:
threshold = 0.6

deli = np.where(df["EC"]>threshold)
df.drop(deli[0],inplace = True)

# noisy_data = df[df["POTASH"] > threshold]

# mean = df["POTASH"].mean()
# df.loc[df["POTASH"] > threshold, "POTASH"] = mean

print(df)

       SAMPLE_NO     SEASON SAMPLE_DATE  \
0          35902  2019-2020   5/15/2019
1          21043  2015-2016  10/12/2015
2          24651  2016-2017  12/22/2016
3          24976  2016-2017    1/3/2017
4          27525  2017-2018   9/18/2017
...          ...        ...         ...
10571      10033  2013-2014   4/13/2013
10572       6416  2012-2013   6/22/2012
10573      10038  2013-2014   4/13/2013
10575      42168  2019-2020   1/27/2020
10576      20516  2015-2016   9/22/2015

                                     FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
0            ANNASAO  ALIS  KIRTIKUMAR  GUNDAPPA .DANOLE             SHIRDHON
1                                   MAHAVIR  BAPU  PATIL              SHIRATI
2                                    ADAPPA  DADA  LADGE      CHAND-SHIRADWAD
3                                  GANPATI  KESHAV  MANE             JAMBHALI
4                                   KUMAR APPA MURCHUTTE              SHEDBAL
...                                                  ...                  ...
10571  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
10572                                MUKUNDA  RAMU  JONG            KURUNDWAD
10573  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
10575  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
10576                            BABU  PUNAPPA  GADAKARI              SADALGA

      SURVEY_NO      PH  Unnamed: 7    EC  Organinc Carbon  PHOSPHOROUS  \
0        172/75  730.00         NaN  0.36             0.42       100.66
1           492    8.60         NaN  0.44             1.08        34.90
2         121/1    8.58         NaN  0.50             0.78        13.30
3           664    8.55         NaN  0.25             0.15        16.50
4           797    8.55         NaN  0.48             0.75         1.60
...         ...     ...         ...   ...              ...          ...
10571        64    4.92         NaN  0.10             1.15        14.10
10572       257    4.68         NaN  0.10             0.50        12.10
10573       NaN    4.42         NaN  0.07             0.40         1.60
10575    V.S.H.    4.00         NaN  0.12             0.98        38.40
10576     10319    1.16         NaN  0.21             0.87         2.15

       POTASH  CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
0       997.0                5.2    10.90      6.10  0.60    4.60
1       370.0               12.0    13.30     18.50  1.60    6.30
2       403.0                9.6    93.20     12.40  1.19    7.00
3       504.0                6.0     5.50     14.30  1.33    7.88
4       627.0               15.2     6.75     16.55  1.25    4.30
...       ...                ...      ...       ...   ...     ...
10571   358.0                2.0     9.20      4.40  1.40    2.10
10572   493.0                4.4     7.76      6.42  0.46    3.82
10573   224.0                1.6     5.40     11.00  2.60    0.80
10575   582.0                2.0     4.30     18.70  0.40    1.60
10576   269.0                6.0    22.60     27.20  1.80   10.00

[7308 rows x 17 columns]

In [5]:
df.reset_index(inplace=True, drop=True)

In [6]:
threshold = 0.91

deli = np.where(df["Organinc Carbon"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

      SAMPLE_NO     SEASON SAMPLE_DATE  \
0         35902  2019-2020   5/15/2019
2         24651  2016-2017  12/22/2016
3         24976  2016-2017    1/3/2017
4         27525  2017-2018   9/18/2017
5         26283  2017-2018   7/26/2017
...         ...        ...         ...
7301       9624  2012-2013  12/10/2012
7302       9863  2012-2013    2/2/2013
7304       6416  2012-2013   6/22/2012
7305      10038  2013-2014   4/13/2013
7307      20516  2015-2016   9/22/2015

                                    FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
0           ANNASAO  ALIS  KIRTIKUMAR  GUNDAPPA .DANOLE             SHIRDHON
2                                   ADAPPA  DADA  LADGE      CHAND-SHIRADWAD
3                                 GANPATI  KESHAV  MANE             JAMBHALI
4                                  KUMAR APPA MURCHUTTE              SHEDBAL
5                                RAMESH SADASHIV BADKAR              SHEDBAL
...                                                 ...                  ...
7301  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
7302  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
7304                                MUKUNDA  RAMU  JONG            KURUNDWAD
7305  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
7307                            BABU  PUNAPPA  GADAKARI              SADALGA

     SURVEY_NO      PH  Unnamed: 7    EC  Organinc Carbon  PHOSPHOROUS  \
0       172/75  730.00         NaN  0.36             0.42       100.66
2        121/1    8.58         NaN  0.50             0.78        13.30
3          664    8.55         NaN  0.25             0.15        16.50
4          797    8.55         NaN  0.48             0.75         1.60
5          487    8.55         NaN  0.22             0.42         1.60
...        ...     ...         ...   ...              ...          ...
7301       680    5.10         NaN  0.15             0.85        13.60
7302   3.00ACR    4.95         NaN  0.12             0.70        11.50
7304       257    4.68         NaN  0.10             0.50        12.10
7305       NaN    4.42         NaN  0.07             0.40         1.60
7307     10319    1.16         NaN  0.21             0.87         2.15

      POTASH  CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
0      997.0                5.2    10.90      6.10  0.60    4.60
2      403.0                9.6    93.20     12.40  1.19    7.00
3      504.0                6.0     5.50     14.30  1.33    7.88
4      627.0               15.2     6.75     16.55  1.25    4.30
5      347.0               20.0     7.69      9.11  0.16    3.91
...      ...                ...      ...       ...   ...     ...
7301   235.0                2.4    46.00     42.00  1.70    4.20
7302   224.0                1.6    63.00     71.40  1.50    9.10
7304   493.0                4.4     7.76      6.42  0.46    3.82
7305   224.0                1.6     5.40     11.00  2.60    0.80
7307   269.0                6.0    22.60     27.20  1.80   10.00

[5559 rows x 17 columns]

In [7]:
df.reset_index(inplace=True, drop=True)
threshold = 27.8

deli = np.where(df["PHOSPHOROUS"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

      SAMPLE_NO     SEASON SAMPLE_DATE  \
1         24651  2016-2017  12/22/2016
2         24976  2016-2017    1/3/2017
3         27525  2017-2018   9/18/2017
4         26283  2017-2018   7/26/2017
5         27609  2017-2018   9/19/2017
...         ...        ...         ...
5554       9624  2012-2013  12/10/2012
5555       9863  2012-2013    2/2/2013
5556       6416  2012-2013   6/22/2012
5557      10038  2013-2014   4/13/2013
5558      20516  2015-2016   9/22/2015

                                    FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
1                                   ADAPPA  DADA  LADGE      CHAND-SHIRADWAD
2                                 GANPATI  KESHAV  MANE             JAMBHALI
3                                  KUMAR APPA MURCHUTTE              SHEDBAL
4                                RAMESH SADASHIV BADKAR              SHEDBAL
5                               GANPATI  SHIVAJI  PATIL             ARJUNWAD
...                                                 ...                  ...
5554  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
5555  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
5556                                MUKUNDA  RAMU  JONG            KURUNDWAD
5557  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
5558                            BABU  PUNAPPA  GADAKARI              SADALGA

     SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  PHOSPHOROUS  POTASH  \
1        121/1  8.58         NaN  0.50             0.78        13.30   403.0
2          664  8.55         NaN  0.25             0.15        16.50   504.0
3          797  8.55         NaN  0.48             0.75         1.60   627.0
4          487  8.55         NaN  0.22             0.42         1.60   347.0
5           43  8.55         NaN  0.40             0.84         1.60   728.0
...        ...   ...         ...   ...              ...          ...     ...
5554       680  5.10         NaN  0.15             0.85        13.60   235.0
5555   3.00ACR  4.95         NaN  0.12             0.70        11.50   224.0
5556       257  4.68         NaN  0.10             0.50        12.10   493.0
5557       NaN  4.42         NaN  0.07             0.40         1.60   224.0
5558     10319  1.16         NaN  0.21             0.87         2.15   269.0

      CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
1                   9.6    93.20     12.40  1.19    7.00
2                   6.0     5.50     14.30  1.33    7.88
3                  15.2     6.75     16.55  1.25    4.30
4                  20.0     7.69      9.11  0.16    3.91
5                  16.8    19.93     13.70  0.30    2.40
...                 ...      ...       ...   ...     ...
5554                2.4    46.00     42.00  1.70    4.20
5555                1.6    63.00     71.40  1.50    9.10
5556                4.4     7.76      6.42  0.46    3.82
5557                1.6     5.40     11.00  2.60    0.80
5558                6.0    22.60     27.20  1.80   10.00

[3681 rows x 17 columns]

In [8]:
df.reset_index(inplace=True, drop=True)
threshold = 547

deli = np.where(df["POTASH"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

      SAMPLE_NO     SEASON SAMPLE_DATE  \
0         24651  2016-2017  12/22/2016
1         24976  2016-2017    1/3/2017
3         26283  2017-2018   7/26/2017
5         27617  2017-2018   9/20/2017
8         24676  2016-2017  12/22/2016
...         ...        ...         ...
3676       9624  2012-2013  12/10/2012
3677       9863  2012-2013    2/2/2013
3678       6416  2012-2013   6/22/2012
3679      10038  2013-2014   4/13/2013
3680      20516  2015-2016   9/22/2015

                                    FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
0                                   ADAPPA  DADA  LADGE      CHAND-SHIRADWAD
1                                 GANPATI  KESHAV  MANE             JAMBHALI
3                                RAMESH SADASHIV BADKAR              SHEDBAL
5     KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
8                              BABASO  PUNDLIK  GAIKWAD               TAKALI
...                                                 ...                  ...
3676  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
3677  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
3678                                MUKUNDA  RAMU  JONG            KURUNDWAD
3679  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
3680                            BABU  PUNAPPA  GADAKARI              SADALGA

     SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  PHOSPHOROUS  POTASH  \
0        121/1  8.58         NaN  0.50             0.78        13.30   403.0
1          664  8.55         NaN  0.25             0.15        16.50   504.0
3          487  8.55         NaN  0.22             0.42         1.60   347.0
5         1700  8.53         NaN  0.18             0.57        10.00   414.0
8          921  8.50         NaN  0.29             0.78        21.10   515.0
...        ...   ...         ...   ...              ...          ...     ...
3676       680  5.10         NaN  0.15             0.85        13.60   235.0
3677   3.00ACR  4.95         NaN  0.12             0.70        11.50   224.0
3678       257  4.68         NaN  0.10             0.50        12.10   493.0
3679       NaN  4.42         NaN  0.07             0.40         1.60   224.0
3680     10319  1.16         NaN  0.21             0.87         2.15   269.0

      CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
0                   9.6    93.20     12.40  1.19    7.00
1                   6.0     5.50     14.30  1.33    7.88
3                  20.0     7.69      9.11  0.16    3.91
5                  12.0    12.52     31.22  0.64    6.94
8                  16.0    87.00     10.80  2.11    8.36
...                 ...      ...       ...   ...     ...
3676                2.4    46.00     42.00  1.70    4.20
3677                1.6    63.00     71.40  1.50    9.10
3678                4.4     7.76      6.42  0.46    3.82
3679                1.6     5.40     11.00  2.60    0.80
3680                6.0    22.60     27.20  1.80   10.00

[2529 rows x 17 columns]

In [9]:
df.reset_index(inplace=True, drop=True)
threshold = 8.5

deli = np.where(df["CALCIUM_CARBONATE"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

      SAMPLE_NO     SEASON SAMPLE_DATE  \
1         24976  2016-2017    1/3/2017
15        24485  2016-2017  12/21/2016
17        24973  2016-2017    1/3/2017
23        25000  2016-2017    1/3/2017
24        24998  2016-2017    1/3/2017
...         ...        ...         ...
2524       9624  2012-2013  12/10/2012
2525       9863  2012-2013    2/2/2013
2526       6416  2012-2013   6/22/2012
2527      10038  2013-2014   4/13/2013
2528      20516  2015-2016   9/22/2015

                                    FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
1                                 GANPATI  KESHAV  MANE             JAMBHALI
15                               SURESH  GANPATI  PATIL            KURUNDWAD
17                                 NARAYAN  DATTU  MALI             JAMBHALI
23                                 ARUN PANDURANG PATIL      CHAND-SHIRADWAD
24                               PARKASH PANDURAN PATIL      CHAND-SHIRADWAD
...                                                 ...                  ...
2524  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
2525  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
2526                                MUKUNDA  RAMU  JONG            KURUNDWAD
2527  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
2528                            BABU  PUNAPPA  GADAKARI              SADALGA

     SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  PHOSPHOROUS  POTASH  \
1          664  8.55         NaN  0.25             0.15        16.50   504.0
15        1124  8.40         NaN  0.29             0.84        15.20   510.0
17         106  8.35         NaN  0.42             0.57        21.40   437.0
23         983  8.30         NaN  0.20             0.36         9.50   381.0
24         983  8.30         NaN  0.22             0.36        14.10   381.0
...        ...   ...         ...   ...              ...          ...     ...
2524       680  5.10         NaN  0.15             0.85        13.60   235.0
2525   3.00ACR  4.95         NaN  0.12             0.70        11.50   224.0
2526       257  4.68         NaN  0.10             0.50        12.10   493.0
2527       NaN  4.42         NaN  0.07             0.40         1.60   224.0
2528     10319  1.16         NaN  0.21             0.87         2.15   269.0

      CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
1                   6.0     5.50     14.30  1.33    7.88
15                  7.6    49.00     30.00  2.80    7.60
17                  4.0     6.39     10.00  1.08    7.57
23                  6.8    22.80     20.00  1.83   10.60
24                  7.6    19.80     18.80  1.69    9.72
...                 ...      ...       ...   ...     ...
2524                2.4    46.00     42.00  1.70    4.20
2525                1.6    63.00     71.40  1.50    9.10
2526                4.4     7.76      6.42  0.46    3.82
2527                1.6     5.40     11.00  2.60    0.80
2528                6.0    22.60     27.20  1.80   10.00

[1738 rows x 17 columns]

In [10]:
df.reset_index(inplace=True, drop=True)
threshold = 12

deli = np.where(df["FERROUS"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

      SAMPLE_NO     SEASON SAMPLE_DATE  \
0         24976  2016-2017    1/3/2017
2         24973  2016-2017    1/3/2017
5         25187  2016-2017    1/5/2017
6         24645  2016-2017  12/22/2016
9         25018  2016-2017    1/3/2017
...         ...        ...         ...
1724        890  2010-2011    8/5/2010
1729        887  2010-2011    8/5/2010
1732      10036  2013-2014   4/13/2013
1735       6416  2012-2013   6/22/2012
1736      10038  2013-2014   4/13/2013

                                    FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
0                                 GANPATI  KESHAV  MANE             JAMBHALI
2                                  NARAYAN  DATTU  MALI             JAMBHALI
5     KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
6                                VIMAL  DAYANAND  PATIL               JANWAD
9                                  SANJAY SADASHIV KORE              RAJAPUR
...                                                 ...                  ...
1724                       GURUNATH  PANDURANG  SANKPAL               SHIROL
1729                          UTTARA AJITSHING  JAGDALE               SHIROL
1732  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
1735                                MUKUNDA  RAMU  JONG            KURUNDWAD
1736  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL

     SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  PHOSPHOROUS  POTASH  \
0          664  8.55         NaN  0.25             0.15         16.5   504.0
2          106  8.35         NaN  0.42             0.57         21.4   437.0
5          353  8.30         NaN  0.32             0.36          2.3   493.0
6      291/292  8.27         NaN  0.22             0.75         13.3   504.0
9         1001  8.20         NaN  0.20             0.69          7.2   381.0
...        ...   ...         ...   ...              ...          ...     ...
1724       341  5.49         NaN  0.52             0.50         23.0   414.0
1729        67  5.34         NaN  0.57             0.50          9.0   269.0
1732        59  5.20         NaN  0.14             0.90          6.6   336.0
1735       257  4.68         NaN  0.10             0.50         12.1   493.0
1736       NaN  4.42         NaN  0.07             0.40          1.6   224.0

      CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
0                   6.0     5.50     14.30  1.33    7.88
2                   4.0     6.39     10.00  1.08    7.57
5                   6.0    10.70     14.20  0.33    5.53
6                   4.8     0.25     30.40  2.14    8.50
9                   5.2     5.35     15.00  0.87    9.34
...                 ...      ...       ...   ...     ...
1724                3.2    10.00     15.00  2.00   11.00
1729                3.6     6.00     22.00  2.00   10.00
1732                1.8    11.50      4.80  1.40    1.40
1735                4.4     7.76      6.42  0.46    3.82
1736                1.6     5.40     11.00  2.60    0.80

[1079 rows x 17 columns]

In [11]:
df.reset_index(inplace=True, drop=True)
threshold = 17.5

deli = np.where(df["MANAGESE"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

      SAMPLE_NO     SEASON SAMPLE_DATE  \
0         24976  2016-2017    1/3/2017
1         24973  2016-2017    1/3/2017
2         25187  2016-2017    1/5/2017
4         25018  2016-2017    1/3/2017
5         25024  2016-2017    1/3/2017
...         ...        ...         ...
1073      29032  2017-2018    2/5/2018
1074        890  2010-2011    8/5/2010
1076      10036  2013-2014   4/13/2013
1077       6416  2012-2013   6/22/2012
1078      10038  2013-2014   4/13/2013

                                    FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
0                                 GANPATI  KESHAV  MANE             JAMBHALI
1                                  NARAYAN  DATTU  MALI             JAMBHALI
2     KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
4                                  SANJAY SADASHIV KORE              RAJAPUR
5                                  VIMAL BASPRABHU KORE              RAJAPUR
...                                                 ...                  ...
1073  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
1074                       GURUNATH  PANDURANG  SANKPAL               SHIROL
1076  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
1077                                MUKUNDA  RAMU  JONG            KURUNDWAD
1078  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL

            SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  PHOSPHOROUS  \
0                 664  8.55         NaN  0.25             0.15        16.50
1                 106  8.35         NaN  0.42             0.57        21.40
2                 353  8.30         NaN  0.32             0.36         2.30
4                1001  8.20         NaN  0.20             0.69         7.20
5                1001  8.20         NaN  0.18             0.60         6.30
...               ...   ...         ...   ...              ...          ...
1073  KHALCHA.5..1067  5.58         NaN  0.20             0.75         5.02
1074              341  5.49         NaN  0.52             0.50        23.00
1076               59  5.20         NaN  0.14             0.90         6.60
1077              257  4.68         NaN  0.10             0.50        12.10
1078              NaN  4.42         NaN  0.07             0.40         1.60

      POTASH  CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
0      504.0                6.0     5.50     14.30  1.33    7.88
1      437.0                4.0     6.39     10.00  1.08    7.57
2      493.0                6.0    10.70     14.20  0.33    5.53
4      381.0                5.2     5.35     15.00  0.87    9.34
5      358.0                5.2     9.00     14.20  0.71    9.28
...      ...                ...      ...       ...   ...     ...
1073   347.0                1.6     8.93      8.21  4.43    1.93
1074   414.0                3.2    10.00     15.00  2.00   11.00
1076   336.0                1.8    11.50      4.80  1.40    1.40
1077   493.0                4.4     7.76      6.42  0.46    3.82
1078   224.0                1.6     5.40     11.00  2.60    0.80

[599 rows x 17 columns]

In [12]:
df.reset_index(inplace=True, drop=True)
threshold = 1.54

deli = np.where(df["ZINK"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

     SAMPLE_NO     SEASON SAMPLE_DATE  \
0        24976  2016-2017    1/3/2017
1        24973  2016-2017    1/3/2017
2        25187  2016-2017    1/5/2017
3        25018  2016-2017    1/3/2017
4        25024  2016-2017    1/3/2017
..         ...        ...         ...
583       7217  2012-2013   7/18/2012
584       9294  2012-2013  11/22/2012
593      17574  2014-2015  12/27/2014
596      10036  2013-2014   4/13/2013
597       6416  2012-2013   6/22/2012

                                   FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
0                                GANPATI  KESHAV  MANE             JAMBHALI
1                                 NARAYAN  DATTU  MALI             JAMBHALI
2    KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
3                                 SANJAY SADASHIV KORE              RAJAPUR
4                                 VIMAL BASPRABHU KORE              RAJAPUR
..                                                 ...                  ...
583                           NIVRUTTI  SHANKAR  KADAM               UDGAON
584                          BABASO  ANNU  FIRGANNAWAR              BORGAON
593  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
596  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
597                                MUKUNDA  RAMU  JONG            KURUNDWAD

    SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  PHOSPHOROUS  POTASH  \
0         664  8.55         NaN  0.25             0.15         16.5   504.0
1         106  8.35         NaN  0.42             0.57         21.4   437.0
2         353  8.30         NaN  0.32             0.36          2.3   493.0
3        1001  8.20         NaN  0.20             0.69          7.2   381.0
4        1001  8.20         NaN  0.18             0.60          6.3   358.0
..        ...   ...         ...   ...              ...          ...     ...
583      1591  6.58         NaN  0.25             0.40         21.1   353.0
584       437  6.55         NaN  0.30             0.40         15.0   200.0
593      2726  6.00         NaN  0.09             0.51         10.0   381.0
596        59  5.20         NaN  0.14             0.90          6.6   336.0
597       257  4.68         NaN  0.10             0.50         12.1   493.0

     CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
0                  6.0     5.50     14.30  1.33    7.88
1                  4.0     6.39     10.00  1.08    7.57
2                  6.0    10.70     14.20  0.33    5.53
3                  5.2     5.35     15.00  0.87    9.34
4                  5.2     9.00     14.20  0.71    9.28
..                 ...      ...       ...   ...     ...
583                6.0     7.74     16.80  1.18    4.12
584                4.0     4.40      3.70  1.00    5.00
593                1.2     3.60      1.80  0.40    1.20
596                1.8    11.50      4.80  1.40    1.40
597                4.4     7.76      6.42  0.46    3.82

[424 rows x 17 columns]

In [13]:
df.reset_index(inplace=True, drop=True)
threshold = 6

deli = np.where(df["COPPER"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

     SAMPLE_NO     SEASON SAMPLE_DATE  \
2        25187  2016-2017    1/5/2017
8        27629  2017-2018   9/20/2017
9        26471  2017-2018    8/2/2017
10       27025  2017-2018   8/23/2017
11        2491  2011-2012   7/14/2011
..         ...        ...         ...
419       7217  2012-2013   7/18/2012
420       9294  2012-2013  11/22/2012
421      17574  2014-2015  12/27/2014
422      10036  2013-2014   4/13/2013
423       6416  2012-2013   6/22/2012

                                   FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
2    KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
8    KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
9                    PRADDYUMNAKUMAR  ANAPPA  CHOUGULE              BORGAON
10                              KONDIBA  HIWARA  UGARE             ARJUNWAD
11             ADAGONDA  RAIGONDA  PATIL  (PALGOUNDAR)              SHEDBAL
..                                                 ...                  ...
419                           NIVRUTTI  SHANKAR  KADAM               UDGAON
420                          BABASO  ANNU  FIRGANNAWAR              BORGAON
421  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
422  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
423                                MUKUNDA  RAMU  JONG            KURUNDWAD

    SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  PHOSPHOROUS  POTASH  \
2         353  8.30         NaN  0.32             0.36          2.3   493.0
8         430  8.15         NaN  0.20             0.90          8.6   538.0
9         238  8.15         NaN  0.35             0.60          6.6   347.0
10        654  8.12         NaN  0.38             0.42         10.4   538.0
11        402  8.11         NaN  0.36             0.40          4.5   310.0
..        ...   ...         ...   ...              ...          ...     ...
419      1591  6.58         NaN  0.25             0.40         21.1   353.0
420       437  6.55         NaN  0.30             0.40         15.0   200.0
421      2726  6.00         NaN  0.09             0.51         10.0   381.0
422        59  5.20         NaN  0.14             0.90          6.6   336.0
423       257  4.68         NaN  0.10             0.50         12.1   493.0

     CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
2                  6.0    10.70     14.20  0.33    5.53
8                  7.2     1.40      2.80  0.13    2.72
9                  7.6     4.34     14.28  0.70    2.64
10                 8.4    10.65     15.70  0.75    5.25
11                 6.4     6.00     13.00  1.20    4.40
..                 ...      ...       ...   ...     ...
419                6.0     7.74     16.80  1.18    4.12
420                4.0     4.40      3.70  1.00    5.00
421                1.2     3.60      1.80  0.40    1.20
422                1.8    11.50      4.80  1.40    1.40
423                4.4     7.76      6.42  0.46    3.82

[322 rows x 17 columns]

In [14]:
from sklearn.preprocessing import MinMaxScaler
cols_to_normalize = ['PH','Organinc Carbon','PHOSPHOROUS','POTASH','CALCIUM_CARBONATE','FERROUS','MANAGESE','ZINK','COPPER','EC']
scaler = MinMaxScaler()
df[cols_to_normalize] = scaler.fit_transform(df[cols_to_normalize])

print(df)

     SAMPLE_NO     SEASON SAMPLE_DATE  \
2        25187  2016-2017    1/5/2017
8        27629  2017-2018   9/20/2017
9        26471  2017-2018    8/2/2017
10       27025  2017-2018   8/23/2017
11        2491  2011-2012   7/14/2011
..         ...        ...         ...
419       7217  2012-2013   7/18/2012
420       9294  2012-2013  11/22/2012
421      17574  2014-2015  12/27/2014
422      10036  2013-2014   4/13/2013
423       6416  2012-2013   6/22/2012

                                   FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
2    KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
8    KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
9                    PRADDYUMNAKUMAR  ANAPPA  CHOUGULE              BORGAON
10                              KONDIBA  HIWARA  UGARE             ARJUNWAD
11             ADAGONDA  RAIGONDA  PATIL  (PALGOUNDAR)              SHEDBAL
..                                                 ...                  ...
419                           NIVRUTTI  SHANKAR  KADAM               UDGAON
420                          BABASO  ANNU  FIRGANNAWAR              BORGAON
421  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
422  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
423                                MUKUNDA  RAMU  JONG            KURUNDWAD

    SURVEY_NO        PH  Unnamed: 7        EC  Organinc Carbon  PHOSPHOROUS  \
2         353  1.000000         NaN  0.490909         0.225352     0.074161
8         430  0.958564         NaN  0.272727         0.985915     0.320062
9         238  0.958564         NaN  0.545455         0.563380     0.241998
10        654  0.950276         NaN  0.600000         0.309859     0.390320
11        402  0.947514         NaN  0.563636         0.281690     0.160031
..        ...       ...         ...       ...              ...          ...
419      1591  0.524862         NaN  0.363636         0.281690     0.807963
420       437  0.516575         NaN  0.454545         0.281690     0.569867
421      2726  0.364641         NaN  0.072727         0.436620     0.374707
422        59  0.143646         NaN  0.163636         0.985915     0.241998
423       257  0.000000         NaN  0.090909         0.422535     0.456674

       POTASH  CALCIUM_CARBONATE   FERROUS  MANAGESE      ZINK    COPPER
2    0.914669           0.666667  0.891122  0.807243  0.203947  0.916667
8    1.000000           0.833333  0.112228  0.141355  0.072368  0.418440
9    0.637819           0.888889  0.358459  0.811916  0.447368  0.404255
10   1.000000           1.000000  0.886935  0.894860  0.480263  0.867021
11   0.567658           0.722222  0.497487  0.737150  0.776316  0.716312
..        ...                ...       ...       ...       ...       ...
419  0.649196           0.666667  0.643216  0.959112  0.763158  0.666667
420  0.359072           0.388889  0.363484  0.193925  0.644737  0.822695
421  0.702291           0.000000  0.296482  0.082944  0.250000  0.148936
422  0.616960           0.083333  0.958124  0.258178  0.907895  0.184397
423  0.914669           0.444444  0.644891  0.352804  0.289474  0.613475

[322 rows x 17 columns]

In [ ]:
import numpy as np

criteria = ["PH", "EC", "Organinc Carbon", "PHOSPHOROUS", "POTASH", "CALCIUM_CARBONATE", "FERROUS", "MANAGESE", "ZINK", "COPPER"]
n = len(criteria)

# Initialize an n x n matrix with ones
matrix = np.ones((n, n))

# Loop through each pair of criteria and prompt the user for a comparison value
for i in range(n):
    for j in range(i+1, n):
        comparison = float(input(f"How important is {criteria[i]} compared to {criteria[j]}? (Enter a value between 1 and 9): "))
        matrix[i, j] = comparison
        matrix[j, i] = 1/comparison

# Normalize the matrix by column
sums = matrix.sum(axis=0)
matrix = matrix / sums

# Print the resulting matrix
print(matrix)

In [ ]:
# sum all columns in each row and divide by the number of criteria
final_weights = np.sum(matrix, axis=1) / len(criteria)

print("criteria weights: ", final_weights)

In [ ]:
Sample=final_weights.sum(axis=0)
print(Sample)

In [ ]:
# Define the decision matrix using the df dataframe
decision_matrix = df[['PH', 'EC', 'Organinc Carbon', 'PHOSPHOROUS', 'POTASH', 'CALCIUM_CARBONATE', 'FERROUS', 'MANAGESE', 'ZINK', 'COPPER']].values  # select only relevant columns

# Define the weights for each criterion from AHP analysis
weights = final_weights

# Expand the weights array to have the same shape as the decision matrix
expanded_weights = np.expand_dims(weights, axis=0)
expanded_weights = np.repeat(expanded_weights, decision_matrix.shape[0], axis=0)

# Calculate the weighted sum for each alternative
weighted_sums = np.sum(decision_matrix * expanded_weights, axis=1)

df['Results'] = weighted_sums
print(df)

In [1]:
df['Quality'] = pd.cut(df.Results,bins=[0,0.25,0.5,0.75,1],labels=['Poor','Medium','Good','Excellent'])
print(df)

NameError: name 'pd' is not defined