In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('soil_fertility.csv')

In [3]:
df.head()

,SAMPLE_NO,SEASON,SAMPLE_DATE,FARMER_ENGLISH_NAME,VILLAGE_NAME_ENGLISH,SURVEY_NO,PH,Unnamed: 7,EC,Organinc Carbon,PHOSPHOROUS,POTASH,CALCIUM_CARBONATE,FERROUS,MANAGESE,ZINK,COPPER
0,1,2010-2011,04-03-2010,SADASHIV NEMU MAGADUM,KURUNDWAD,1916,7.22,NaN,0.42,0.6,12.9,400.0,5.6,14.4,38.0,0.04,2.14
1,2,2010-2011,04-07-2010,RAOSAHEB BHIMRAO DESHINGE,ARJUNWAD,104,7.59,NaN,1.10,0.7,26.0,560.0,7.2,26.0,40.0,0.60,5.00
2,3,2010-2011,04-07-2010,PRAMOD VASANT PATIL,ARJUNWAD,698,7.58,NaN,0.42,0.6,19.0,227.0,6.8,23.0,38.0,0.40,4.00
3,4,2010-2011,04-07-2010,GANPATI SHIVAJI PATIL,ARJUNWAD,NaN,7.52,NaN,0.45,0.5,8.0,188.0,6.8,26.0,41.0,0.30,4.00
4,5,2010-2011,04-07-2010,SARJERAO AKARAM DUDHALE,ARJUNWAD,249,7.78,NaN,0.66,0.6,5.0,248.0,7.2,25.0,33.0,0.30,4.00

In [4]:
threshold = 0.6

deli = np.where(df["EC"]>threshold)
df.drop(deli[0],inplace = True)

# noisy_data = df[df["POTASH"] > threshold]

# mean = df["POTASH"].mean()
# df.loc[df["POTASH"] > threshold, "POTASH"] = mean

print(df)

       SAMPLE_NO     SEASON SAMPLE_DATE                 FARMER_ENGLISH_NAME  \
0              1  2010-2011  04-03-2010             SADASHIV  NEMU  MAGADUM
2              3  2010-2011  04-07-2010               PRAMOD  VASANT  PATIL
3              4  2010-2011  04-07-2010             GANPATI  SHIVAJI  PATIL
5              6  2010-2011  04-07-2010               JAYAPAL RAMU CHOUGULE
6              7  2010-2011  04-07-2010             SARJERAO  NARHAR  PATIL
...          ...        ...         ...                                 ...
10573      42649  2019-2020   3/26/2020                PARVEJ MUSASO MESTRI
10574      42650  2019-2020   3/26/2020              HAIDAR FATTELAL MESTRI
10575      42651  2019-2020   3/26/2020  CHHAYA & SURAJ CHANDRAKANT MANJARE
10576      42652  2019-2020   3/26/2020              USMAN  ISAMUDIN  MULLA
10577      42653  2019-2020   3/26/2020   MAHAVIR ANNASO CHOUGULE (RAJAPPA)

      VILLAGE_NAME_ENGLISH SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  \
0                KURUNDWAD      1916  7.22         NaN  0.42             0.60
2                 ARJUNWAD       698  7.58         NaN  0.42             0.60
3                 ARJUNWAD       NaN  7.52         NaN  0.45             0.50
5                 ARJUNWAD       705  7.63         NaN  0.58             0.30
6                 ARJUNWAD       NaN  7.59         NaN  0.39             0.80
...                    ...       ...   ...         ...   ...              ...
10573               SHIROL      1547  7.76         NaN  0.22             0.39
10574               SHIROL      1546  7.20         NaN  0.28             0.36
10575          DATTANAGAR        NaN  8.08         NaN  0.38             0.72
10576               SHIROL       NaN  8.08         NaN  0.30             0.87
10577             ARJUNWAD       482  8.41         NaN  0.37             0.18

       PHOSPHOROUS  POTASH  CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
0             12.9   400.0                5.6     14.4      38.0  0.04    2.14
2             19.0   227.0                6.8     23.0      38.0  0.40    4.00
3              8.0   188.0                6.8     26.0      41.0  0.30    4.00
5              5.0   220.0                6.0     25.0      41.0  0.10    4.00
6             22.0   560.0                6.0     20.0      62.0  0.40    3.00
...            ...     ...                ...      ...       ...   ...     ...
10573         63.2   470.0                5.6     24.2      16.0  2.11   10.20
10574         93.8   717.0                4.4     25.2     171.8  1.80   10.00
10575         83.2  3750.0               11.2     31.8      15.6  1.26    9.98
10576         98.5  4255.0                7.2     26.5      16.9  1.64   16.40
10577         17.8   711.0               14.0     20.0      14.4  0.98    9.11

[7308 rows x 17 columns]

In [5]:
df.reset_index(inplace=True, drop=True)

In [6]:
threshold = 0.91

deli = np.where(df["Organinc Carbon"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

      SAMPLE_NO     SEASON SAMPLE_DATE                 FARMER_ENGLISH_NAME  \
0             1  2010-2011  04-03-2010             SADASHIV  NEMU  MAGADUM
1             3  2010-2011  04-07-2010               PRAMOD  VASANT  PATIL
2             4  2010-2011  04-07-2010             GANPATI  SHIVAJI  PATIL
3             6  2010-2011  04-07-2010               JAYAPAL RAMU CHOUGULE
4             7  2010-2011  04-07-2010             SARJERAO  NARHAR  PATIL
...         ...        ...         ...                                 ...
7303      42649  2019-2020   3/26/2020                PARVEJ MUSASO MESTRI
7304      42650  2019-2020   3/26/2020              HAIDAR FATTELAL MESTRI
7305      42651  2019-2020   3/26/2020  CHHAYA & SURAJ CHANDRAKANT MANJARE
7306      42652  2019-2020   3/26/2020              USMAN  ISAMUDIN  MULLA
7307      42653  2019-2020   3/26/2020   MAHAVIR ANNASO CHOUGULE (RAJAPPA)

     VILLAGE_NAME_ENGLISH SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  \
0               KURUNDWAD      1916  7.22         NaN  0.42             0.60
1                ARJUNWAD       698  7.58         NaN  0.42             0.60
2                ARJUNWAD       NaN  7.52         NaN  0.45             0.50
3                ARJUNWAD       705  7.63         NaN  0.58             0.30
4                ARJUNWAD       NaN  7.59         NaN  0.39             0.80
...                   ...       ...   ...         ...   ...              ...
7303               SHIROL      1547  7.76         NaN  0.22             0.39
7304               SHIROL      1546  7.20         NaN  0.28             0.36
7305          DATTANAGAR        NaN  8.08         NaN  0.38             0.72
7306               SHIROL       NaN  8.08         NaN  0.30             0.87
7307             ARJUNWAD       482  8.41         NaN  0.37             0.18

      PHOSPHOROUS  POTASH  CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
0            12.9   400.0                5.6     14.4      38.0  0.04    2.14
1            19.0   227.0                6.8     23.0      38.0  0.40    4.00
2             8.0   188.0                6.8     26.0      41.0  0.30    4.00
3             5.0   220.0                6.0     25.0      41.0  0.10    4.00
4            22.0   560.0                6.0     20.0      62.0  0.40    3.00
...           ...     ...                ...      ...       ...   ...     ...
7303         63.2   470.0                5.6     24.2      16.0  2.11   10.20
7304         93.8   717.0                4.4     25.2     171.8  1.80   10.00
7305         83.2  3750.0               11.2     31.8      15.6  1.26    9.98
7306         98.5  4255.0                7.2     26.5      16.9  1.64   16.40
7307         17.8   711.0               14.0     20.0      14.4  0.98    9.11

[5559 rows x 17 columns]

In [7]:
df.reset_index(inplace=True, drop=True)
threshold = 27.8

deli = np.where(df["PHOSPHOROUS"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

      SAMPLE_NO     SEASON SAMPLE_DATE  \
0             1  2010-2011  04-03-2010
1             3  2010-2011  04-07-2010
2             4  2010-2011  04-07-2010
3             6  2010-2011  04-07-2010
4             7  2010-2011  04-07-2010
...         ...        ...         ...
5520      42318  2019-2020  02-03-2020
5529      42424  2019-2020  02-07-2020
5537      42605  2019-2020   3/26/2020
5552      42647  2019-2020   3/26/2020
5558      42653  2019-2020   3/26/2020

                            FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
0                       SADASHIV  NEMU  MAGADUM            KURUNDWAD
1                         PRAMOD  VASANT  PATIL             ARJUNWAD
2                       GANPATI  SHIVAJI  PATIL             ARJUNWAD
3                         JAYAPAL RAMU CHOUGULE             ARJUNWAD
4                       SARJERAO  NARHAR  PATIL             ARJUNWAD
...                                         ...                  ...
5520                      AJITKUMAR BAPUSO VANI               TAKALI
5529                 SUKUMAR  MALLAPPA  KUPNATE               TAKALI
5537   CHAIRMAN SHRI  MAHADEOSWAMI DHARMAR MATH               JANWAD
5552                        PANDIT MARUTI PATIL               SHIROL
5558          MAHAVIR ANNASO CHOUGULE (RAJAPPA)             ARJUNWAD

     SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  PHOSPHOROUS  POTASH  \
0         1916  7.22         NaN  0.42             0.60        12.90   400.0
1          698  7.58         NaN  0.42             0.60        19.00   227.0
2          NaN  7.52         NaN  0.45             0.50         8.00   188.0
3          705  7.63         NaN  0.58             0.30         5.00   220.0
4          NaN  7.59         NaN  0.39             0.80        22.00   560.0
...        ...   ...         ...   ...              ...          ...     ...
5520      1133  7.92         NaN  0.58             0.81         4.13   515.0
5529     155/1  8.45         NaN  0.46             0.41         4.60   403.0
5537       989  8.10         NaN  0.35             0.89         6.00   403.0
5552      1541  7.38         NaN  0.40             0.65         0.55   997.0
5558       482  8.41         NaN  0.37             0.18        17.80   711.0

      CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
0                   5.6     14.4     38.00  0.04    2.14
1                   6.8     23.0     38.00  0.40    4.00
2                   6.8     26.0     41.00  0.30    4.00
3                   6.0     25.0     41.00  0.10    4.00
4                   6.0     20.0     62.00  0.40    3.00
...                 ...      ...       ...   ...     ...
5520                9.6      5.9     20.80  1.30    4.20
5529               15.6     10.1      9.40  0.10    4.10
5537                3.2     21.9     14.66  1.56    5.62
5552                5.6     26.2     16.00  2.00   12.80
5558               14.0     20.0     14.40  0.98    9.11

[3681 rows x 17 columns]

In [8]:
df.reset_index(inplace=True, drop=True)
threshold = 547

deli = np.where(df["POTASH"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

      SAMPLE_NO     SEASON SAMPLE_DATE  \
0             1  2010-2011  04-03-2010
1             3  2010-2011  04-07-2010
2             4  2010-2011  04-07-2010
3             6  2010-2011  04-07-2010
5            10  2010-2011  04-07-2010
...         ...        ...         ...
3673      42056  2019-2020   1/15/2020
3675      42172  2019-2020   1/27/2020
3676      42318  2019-2020  02-03-2020
3677      42424  2019-2020  02-07-2020
3678      42605  2019-2020   3/26/2020

                                    FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
0                               SADASHIV  NEMU  MAGADUM            KURUNDWAD
1                                 PRAMOD  VASANT  PATIL             ARJUNWAD
2                               GANPATI  SHIVAJI  PATIL             ARJUNWAD
3                                 JAYAPAL RAMU CHOUGULE             ARJUNWAD
5                        CHARUDATTA  KALLAPPA  CHOUGULE             ARJUNWAD
...                                                 ...                  ...
3673  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
3675  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
3676                              AJITKUMAR BAPUSO VANI               TAKALI
3677                         SUKUMAR  MALLAPPA  KUPNATE               TAKALI
3678           CHAIRMAN SHRI  MAHADEOSWAMI DHARMAR MATH               JANWAD

      SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  PHOSPHOROUS  POTASH  \
0          1916  7.22         NaN  0.42             0.60        12.90   400.0
1           698  7.58         NaN  0.42             0.60        19.00   227.0
2           NaN  7.52         NaN  0.45             0.50         8.00   188.0
3           705  7.63         NaN  0.58             0.30         5.00   220.0
5           706  7.85         NaN  0.35             0.60        13.00   358.0
...         ...   ...         ...   ...              ...          ...     ...
3673        NaN  7.72         NaN  0.60             0.47        19.13   358.0
3675  M.V.H.EST  5.68         NaN  0.10             0.79        12.30   470.0
3676       1133  7.92         NaN  0.58             0.81         4.13   515.0
3677      155/1  8.45         NaN  0.46             0.41         4.60   403.0
3678        989  8.10         NaN  0.35             0.89         6.00   403.0

      CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
0                   5.6    14.40     38.00  0.04    2.14
1                   6.8    23.00     38.00  0.40    4.00
2                   6.8    26.00     41.00  0.30    4.00
3                   6.0    25.00     41.00  0.10    4.00
5                  11.2    21.00     37.00  0.10    3.00
...                 ...      ...       ...   ...     ...
3673                8.4    17.45     15.10  0.89    7.71
3675                2.0     8.60     19.20  0.30    2.50
3676                9.6     5.90     20.80  1.30    4.20
3677               15.6    10.10      9.40  0.10    4.10
3678                3.2    21.90     14.66  1.56    5.62

[2529 rows x 17 columns]

In [9]:
df.reset_index(inplace=True, drop=True)
threshold = 8.5

deli = np.where(df["CALCIUM_CARBONATE"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

      SAMPLE_NO     SEASON SAMPLE_DATE  \
0             1  2010-2011  04-03-2010
1             3  2010-2011  04-07-2010
2             4  2010-2011  04-07-2010
3             6  2010-2011  04-07-2010
7            37  2010-2011  04-07-2010
...         ...        ...         ...
2522      41907  2019-2020  01-04-2020
2523      41952  2019-2020  01-06-2020
2524      42056  2019-2020   1/15/2020
2525      42172  2019-2020   1/27/2020
2528      42605  2019-2020   3/26/2020

                                    FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
0                               SADASHIV  NEMU  MAGADUM            KURUNDWAD
1                                 PRAMOD  VASANT  PATIL             ARJUNWAD
2                               GANPATI  SHIVAJI  PATIL             ARJUNWAD
3                                 JAYAPAL RAMU CHOUGULE             ARJUNWAD
7                          DHANPAL  BHAU  SHETTI  (PAI)               SHIROL
...                                                 ...                  ...
2522                             KANCHAN RAMDAS BHOSALE            KURUNDWAD
2523                       CHANDRAKANT SHAMRAO KULKARNI             JAMBHALI
2524  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
2525  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL
2528           CHAIRMAN SHRI  MAHADEOSWAMI DHARMAR MATH               JANWAD

      SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  PHOSPHOROUS  POTASH  \
0          1916  7.22         NaN  0.42             0.60        12.90   400.0
1           698  7.58         NaN  0.42             0.60        19.00   227.0
2           NaN  7.52         NaN  0.45             0.50         8.00   188.0
3           705  7.63         NaN  0.58             0.30         5.00   220.0
7          3154  7.34         NaN  0.52             0.80        16.00   280.0
...         ...   ...         ...   ...              ...          ...     ...
2522        502  7.38         NaN  0.38             0.63        14.15   291.0
2523        433  7.64         NaN  0.25             0.87        26.60   291.0
2524        NaN  7.72         NaN  0.60             0.47        19.13   358.0
2525  M.V.H.EST  5.68         NaN  0.10             0.79        12.30   470.0
2528        989  8.10         NaN  0.35             0.89         6.00   403.0

      CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
0                   5.6    14.40     38.00  0.04    2.14
1                   6.8    23.00     38.00  0.40    4.00
2                   6.8    26.00     41.00  0.30    4.00
3                   6.0    25.00     41.00  0.10    4.00
7                   4.8    25.00     41.00  0.20    3.00
...                 ...      ...       ...   ...     ...
2522                5.2     4.00      3.70  0.20    3.70
2523                4.8     6.30     15.00  0.10    6.50
2524                8.4    17.45     15.10  0.89    7.71
2525                2.0     8.60     19.20  0.30    2.50
2528                3.2    21.90     14.66  1.56    5.62

[1738 rows x 17 columns]

In [10]:
df.reset_index(inplace=True, drop=True)
threshold = 12

deli = np.where(df["FERROUS"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

      SAMPLE_NO     SEASON SAMPLE_DATE  \
5           100  2010-2011  04-07-2010
6           102  2010-2011  04-07-2010
17          163  2010-2011  04-10-2010
23          174  2010-2011  04-10-2010
27          221  2010-2011  04-12-2010
...         ...        ...         ...
1729      41464  2019-2020  12/16/2019
1732      41895  2019-2020  01-04-2020
1733      41907  2019-2020  01-04-2020
1734      41952  2019-2020  01-06-2020
1736      42172  2019-2020   1/27/2020

                                    FARMER_ENGLISH_NAME VILLAGE_NAME_ENGLISH  \
5                       SHITAL KUMGONDA PATIL (LAKAPPA)      CHAND-SHIRADWAD
6                              MAHADEV  DATTU  CHOUGULE               JANWAD
17                                  VILAS  KERBA  PATIL               TAKALI
23                              TATYSO  BALAPPA  DANOLE               AKIWAT
27                        SHOUKATALI  TAJUDDIN  JAMADAR              RAJAPUR
...                                                 ...                  ...
1729                          SUBHASH  KASHINATH  HEGRE              SADALGA
1732                              HASAN  BABALAL  SHEKH              NANDANI
1733                             KANCHAN RAMDAS BHOSALE            KURUNDWAD
1734                       CHANDRAKANT SHAMRAO KULKARNI             JAMBHALI
1736  KARYAKARI  SANCHALAK  SHRI DATTA  S.S.S.K.LTD ...               SHIROL

      SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  PHOSPHOROUS  POTASH  \
5          39/2  7.78         NaN  0.42             0.50        10.00   501.0
6         217/4  7.73         NaN  0.26             0.30        10.00   316.0
17          283  7.65         NaN  0.33             0.60         7.00   344.0
23          801  7.78         NaN  0.39             0.70         7.00   386.0
27          NaN  7.39         NaN  0.33             0.50        13.30   501.0
...         ...   ...         ...   ...              ...          ...     ...
1729        196  7.40         NaN  0.27             0.63        18.20   336.0
1732        201  7.55         NaN  0.32             0.54        18.12   245.0
1733        502  7.38         NaN  0.38             0.63        14.15   291.0
1734        433  7.64         NaN  0.25             0.87        26.60   291.0
1736  M.V.H.EST  5.68         NaN  0.10             0.79        12.30   470.0

      CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
5                   6.4      9.0      27.1   0.1    3.00
6                   5.2      9.0      28.0   0.1    2.00
17                  4.8     11.0      37.0   0.3    3.00
23                  7.2     12.0      35.0   0.1    2.00
27                  6.4      8.1      32.6   0.3    4.22
...                 ...      ...       ...   ...     ...
1729                7.6     10.5       7.9   0.8    4.80
1732                7.2      1.1       3.1   0.5    2.40
1733                5.2      4.0       3.7   0.2    3.70
1734                4.8      6.3      15.0   0.1    6.50
1736                2.0      8.6      19.2   0.3    2.50

[1079 rows x 17 columns]

In [11]:
df.reset_index(inplace=True, drop=True)
threshold = 17.5

deli = np.where(df["MANAGESE"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

      SAMPLE_NO     SEASON SAMPLE_DATE                    FARMER_ENGLISH_NAME  \
5           328  2010-2011   7/14/2010                   SARJERAO ANNU MAGDUM
6           453  2010-2011   7/15/2010                 ADINATH  BHIMA  KAKADE
7           552  2010-2011  08-01-2010           YUSUFSAHEB RASULSAHEB MESTRI
9           557  2010-2011  08-01-2010   RAVINDRA  VASANTRAO  MANE-DESHAMUKHA
11          568  2010-2011  08-01-2010  RAGHUNATH  SITARAM  MANE  (AGAR-BHAG)
...         ...        ...         ...                                    ...
1073      40810  2019-2020  11/14/2019               BABASAHEB NARAYAN WALAKE
1074      41464  2019-2020  12/16/2019              SUBHASH  KASHINATH  HEGRE
1075      41895  2019-2020  01-04-2020                  HASAN  BABALAL  SHEKH
1076      41907  2019-2020  01-04-2020                 KANCHAN RAMDAS BHOSALE
1077      41952  2019-2020  01-06-2020           CHANDRAKANT SHAMRAO KULKARNI

     VILLAGE_NAME_ENGLISH SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  \
5                 SHIRATI      245A  7.76         NaN  0.47             0.60
6               CHINCHWAD      3199  7.61         NaN  0.26             0.70
7                  SHIROL       286  7.32         NaN  0.24             0.70
9                  SHIROL       127  7.42         NaN  0.46             0.80
11                 SHIROL      1497  7.33         NaN  0.37             0.50
...                   ...       ...   ...         ...   ...              ...
1073               TERWAD       427  7.60         NaN  0.22             0.79
1074              SADALGA       196  7.40         NaN  0.27             0.63
1075              NANDANI       201  7.55         NaN  0.32             0.54
1076            KURUNDWAD       502  7.38         NaN  0.38             0.63
1077             JAMBHALI       433  7.64         NaN  0.25             0.87

      PHOSPHOROUS  POTASH  CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
5            8.96   280.0                7.6      3.6       8.0  3.00     7.0
6            2.30   504.0                3.6      9.4       6.2  1.40     0.9
7           19.00   526.0                6.4      7.4      14.0  0.04     9.0
9           16.00   414.0                8.4      8.0      16.0  0.30    10.6
11          14.00   302.0                6.0      3.2       1.6  1.00     8.0
...           ...     ...                ...      ...       ...   ...     ...
1073         4.60   493.0                4.4      7.4       7.6  0.40     5.7
1074        18.20   336.0                7.6     10.5       7.9  0.80     4.8
1075        18.12   245.0                7.2      1.1       3.1  0.50     2.4
1076        14.15   291.0                5.2      4.0       3.7  0.20     3.7
1077        26.60   291.0                4.8      6.3      15.0  0.10     6.5

[599 rows x 17 columns]

In [12]:
df.reset_index(inplace=True, drop=True)
threshold = 1.54

deli = np.where(df["ZINK"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

     SAMPLE_NO     SEASON SAMPLE_DATE                    FARMER_ENGLISH_NAME  \
1          453  2010-2011   7/15/2010                 ADINATH  BHIMA  KAKADE
2          552  2010-2011  08-01-2010           YUSUFSAHEB RASULSAHEB MESTRI
3          557  2010-2011  08-01-2010   RAVINDRA  VASANTRAO  MANE-DESHAMUKHA
4          568  2010-2011  08-01-2010  RAGHUNATH  SITARAM  MANE  (AGAR-BHAG)
5          569  2010-2011  08-01-2010                  GANPATI  BALU  JADHAV
..         ...        ...         ...                                    ...
594      40810  2019-2020  11/14/2019               BABASAHEB NARAYAN WALAKE
595      41464  2019-2020  12/16/2019              SUBHASH  KASHINATH  HEGRE
596      41895  2019-2020  01-04-2020                  HASAN  BABALAL  SHEKH
597      41907  2019-2020  01-04-2020                 KANCHAN RAMDAS BHOSALE
598      41952  2019-2020  01-06-2020           CHANDRAKANT SHAMRAO KULKARNI

    VILLAGE_NAME_ENGLISH SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  \
1              CHINCHWAD      3199  7.61         NaN  0.26             0.70
2                 SHIROL       286  7.32         NaN  0.24             0.70
3                 SHIROL       127  7.42         NaN  0.46             0.80
4                 SHIROL      1497  7.33         NaN  0.37             0.50
5                 SHIROL      1476  7.20         NaN  0.37             0.40
..                   ...       ...   ...         ...   ...              ...
594               TERWAD       427  7.60         NaN  0.22             0.79
595              SADALGA       196  7.40         NaN  0.27             0.63
596              NANDANI       201  7.55         NaN  0.32             0.54
597            KURUNDWAD       502  7.38         NaN  0.38             0.63
598             JAMBHALI       433  7.64         NaN  0.25             0.87

     PHOSPHOROUS  POTASH  CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
1           2.30   504.0                3.6      9.4       6.2  1.40     0.9
2          19.00   526.0                6.4      7.4      14.0  0.04     9.0
3          16.00   414.0                8.4      8.0      16.0  0.30    10.6
4          14.00   302.0                6.0      3.2       1.6  1.00     8.0
5          15.00   470.0                4.0      4.8      16.0  1.00    13.0
..           ...     ...                ...      ...       ...   ...     ...
594         4.60   493.0                4.4      7.4       7.6  0.40     5.7
595        18.20   336.0                7.6     10.5       7.9  0.80     4.8
596        18.12   245.0                7.2      1.1       3.1  0.50     2.4
597        14.15   291.0                5.2      4.0       3.7  0.20     3.7
598        26.60   291.0                4.8      6.3      15.0  0.10     6.5

[424 rows x 17 columns]

In [13]:
df.reset_index(inplace=True, drop=True)
threshold = 6

deli = np.where(df["COPPER"]>threshold)
df.drop(deli[0],inplace = True)

print(df)

     SAMPLE_NO     SEASON SAMPLE_DATE           FARMER_ENGLISH_NAME  \
0          453  2010-2011   7/15/2010        ADINATH  BHIMA  KAKADE
8          672  2010-2011  08-03-2010       SALIM FAKRUDDIN KANWADE
9          673  2010-2011  08-03-2010         NIJAM  BABALAL  ALASE
10        1209  2010-2011  08-11-2010     NEMGONDA  MALGONDA  PATIL
11        1397  2010-2011  08-12-2010  DHANPAL  BHAU  SHETTI  (PAI)
..         ...        ...         ...                           ...
418      40778  2019-2020  11/14/2019     ANNAPPA  KALLAPPA  ADGANE
419      40810  2019-2020  11/14/2019      BABASAHEB NARAYAN WALAKE
420      41464  2019-2020  12/16/2019     SUBHASH  KASHINATH  HEGRE
421      41895  2019-2020  01-04-2020         HASAN  BABALAL  SHEKH
422      41907  2019-2020  01-04-2020        KANCHAN RAMDAS BHOSALE

    VILLAGE_NAME_ENGLISH SURVEY_NO    PH  Unnamed: 7    EC  Organinc Carbon  \
0              CHINCHWAD      3199  7.61         NaN  0.26             0.70
8              SHIRGUPPI       140  7.56         NaN  0.48             0.80
9              SHIRGUPPI       134  7.72         NaN  0.51             0.50
10               BORGAON       534  7.50         NaN  0.20             0.20
11                SHIROL      3152  7.80         NaN  0.20             0.60
..                   ...       ...   ...         ...   ...              ...
418             SHIRDHON      1375  7.45         NaN  0.25             0.76
419               TERWAD       427  7.60         NaN  0.22             0.79
420              SADALGA       196  7.40         NaN  0.27             0.63
421              NANDANI       201  7.55         NaN  0.32             0.54
422            KURUNDWAD       502  7.38         NaN  0.38             0.63

     PHOSPHOROUS  POTASH  CALCIUM_CARBONATE  FERROUS  MANAGESE  ZINK  COPPER
0           2.30   504.0                3.6      9.4       6.2   1.4     0.9
8           7.00   459.0                4.8      2.2      16.0   0.8     6.0
9           6.00   411.0                4.8      2.0       6.0   0.2     2.4
10          7.00   280.0                4.0      8.0       2.0   1.0     3.0
11          9.50   280.0                6.0     12.0       8.0   1.2     3.0
..           ...     ...                ...      ...       ...   ...     ...
418         3.40   459.0                6.8     10.5       7.3   0.7     5.7
419         4.60   493.0                4.4      7.4       7.6   0.4     5.7
420        18.20   336.0                7.6     10.5       7.9   0.8     4.8
421        18.12   245.0                7.2      1.1       3.1   0.5     2.4
422        14.15   291.0                5.2      4.0       3.7   0.2     3.7

[322 rows x 17 columns]

In [14]:
from sklearn.preprocessing import MinMaxScaler
cols_to_normalize = ['PH','Organinc Carbon','PHOSPHOROUS','POTASH','CALCIUM_CARBONATE','FERROUS','MANAGESE','ZINK','COPPER','EC']
scaler = MinMaxScaler()
df[cols_to_normalize] = scaler.fit_transform(df[cols_to_normalize])

print(df)

     SAMPLE_NO     SEASON SAMPLE_DATE           FARMER_ENGLISH_NAME  \
0          453  2010-2011   7/15/2010        ADINATH  BHIMA  KAKADE
8          672  2010-2011  08-03-2010       SALIM FAKRUDDIN KANWADE
9          673  2010-2011  08-03-2010         NIJAM  BABALAL  ALASE
10        1209  2010-2011  08-11-2010     NEMGONDA  MALGONDA  PATIL
11        1397  2010-2011  08-12-2010  DHANPAL  BHAU  SHETTI  (PAI)
..         ...        ...         ...                           ...
418      40778  2019-2020  11/14/2019     ANNAPPA  KALLAPPA  ADGANE
419      40810  2019-2020  11/14/2019      BABASAHEB NARAYAN WALAKE
420      41464  2019-2020  12/16/2019     SUBHASH  KASHINATH  HEGRE
421      41895  2019-2020  01-04-2020         HASAN  BABALAL  SHEKH
422      41907  2019-2020  01-04-2020        KANCHAN RAMDAS BHOSALE

    VILLAGE_NAME_ENGLISH SURVEY_NO        PH  Unnamed: 7        EC  \
0              CHINCHWAD      3199  0.809392         NaN  0.381818
8              SHIRGUPPI       140  0.795580         NaN  0.781818
9              SHIRGUPPI       134  0.839779         NaN  0.836364
10               BORGAON       534  0.779006         NaN  0.272727
11                SHIROL      3152  0.861878         NaN  0.272727
..                   ...       ...       ...         ...       ...
418             SHIRDHON      1375  0.765193         NaN  0.363636
419               TERWAD       427  0.806630         NaN  0.309091
420              SADALGA       196  0.751381         NaN  0.400000
421              NANDANI       201  0.792818         NaN  0.490909
422            KURUNDWAD       502  0.745856         NaN  0.600000

     Organinc Carbon  PHOSPHOROUS    POTASH  CALCIUM_CARBONATE   FERROUS  \
0           0.704225     0.074161  0.935528           0.333333  0.782245
8           0.845070     0.257611  0.850197           0.500000  0.179229
9           0.422535     0.218579  0.759178           0.500000  0.162479
10          0.000000     0.257611  0.510771           0.388889  0.664992
11          0.563380     0.355191  0.510771           0.666667  1.000000
..               ...          ...       ...                ...       ...
418         0.788732     0.117096  0.850197           0.777778  0.874372
419         0.830986     0.163934  0.914669           0.444444  0.614740
420         0.605634     0.694770  0.616960           0.888889  0.874372
421         0.478873     0.691647  0.444402           0.833333  0.087102
422         0.605634     0.536690  0.531629           0.555556  0.329983

     MANAGESE      ZINK    COPPER
0    0.339953  0.907895  0.095745
8    0.912383  0.513158  1.000000
9    0.328271  0.118421  0.361702
10   0.094626  0.644737  0.468085
11   0.445093  0.776316  0.468085
..        ...       ...       ...
418  0.404206  0.447368  0.946809
419  0.421729  0.250000  0.946809
420  0.439252  0.513158  0.787234
421  0.158879  0.315789  0.361702
422  0.193925  0.118421  0.592199

[322 rows x 17 columns]

In [15]:
import numpy as np

criteria = ["PH", "EC", "Organinc Carbon", "PHOSPHOROUS", "POTASH", "CALCIUM_CARBONATE", "FERROUS", "MANAGESE", "ZINK", "COPPER"]
n = len(criteria)

# Initialize an n x n matrix with ones
matrix = np.ones((n, n))

# Loop through each pair of criteria and prompt the user for a comparison value
for i in range(n):
    for j in range(i+1, n):
        comparison = float(input(f"How important is {criteria[i]} compared to {criteria[j]}? (Enter a value between 1 and 9): "))
        matrix[i, j] = comparison
        matrix[j, i] = 1/comparison

# Normalize the matrix by column
sums = matrix.sum(axis=0)
matrix = matrix / sums

# Print the resulting matrix
print(matrix)

How important is PH compared to EC? (Enter a value between 1 and 9): 2
How important is PH compared to Organinc Carbon? (Enter a value between 1 and 9): 0.125
How important is PH compared to PHOSPHOROUS? (Enter a value between 1 and 9): 0.143
How important is PH compared to POTASH? (Enter a value between 1 and 9): 0.166
How important is PH compared to CALCIUM_CARBONATE? (Enter a value between 1 and 9): 0.2
How important is PH compared to FERROUS? (Enter a value between 1 and 9): 0.5
How important is PH compared to MANAGESE? (Enter a value between 1 and 9): 0.333
How important is PH compared to ZINK? (Enter a value between 1 and 9): 0.2
How important is PH compared to COPPER? (Enter a value between 1 and 9): 0.25
How important is EC compared to Organinc Carbon? (Enter a value between 1 and 9): 0.111
How important is EC compared to PHOSPHOROUS? (Enter a value between 1 and 9): 0.125
How important is EC compared to POTASH? (Enter a value between 1 and 9): 0.143
How important is EC compared to CALCIUM_CARBONATE? (Enter a value between 1 and 9): 0.166
How important is EC compared to FERROUS? (Enter a value between 1 and 9): 0.333
How important is EC compared to MANAGESE? (Enter a value between 1 and 9): 0.25
How important is EC compared to ZINK? (Enter a value between 1 and 9): 0.166
How important is EC compared to COPPER? (Enter a value between 1 and 9): 0.2
How important is Organinc Carbon compared to PHOSPHOROUS? (Enter a value between 1 and 9): 2
How important is Organinc Carbon compared to POTASH? (Enter a value between 1 and 9): 3
How important is Organinc Carbon compared to CALCIUM_CARBONATE? (Enter a value between 1 and 9): 4
How important is Organinc Carbon compared to FERROUS? (Enter a value between 1 and 9): 8
How important is Organinc Carbon compared to MANAGESE? (Enter a value between 1 and 9): 7
How important is Organinc Carbon compared to ZINK? (Enter a value between 1 and 9): 5
How important is Organinc Carbon compared to COPPER? (Enter a value between 1 and 9): 6
How important is PHOSPHOROUS compared to POTASH? (Enter a value between 1 and 9): 2
How important is PHOSPHOROUS compared to CALCIUM_CARBONATE? (Enter a value between 1 and 9): 3
How important is PHOSPHOROUS compared to FERROUS? (Enter a value between 1 and 9): 7
How important is PHOSPHOROUS compared to MANAGESE? (Enter a value between 1 and 9): 6
How important is PHOSPHOROUS compared to ZINK? (Enter a value between 1 and 9): 4
How important is PHOSPHOROUS compared to COPPER? (Enter a value between 1 and 9): 5
How important is POTASH compared to CALCIUM_CARBONATE? (Enter a value between 1 and 9): 2
How important is POTASH compared to FERROUS? (Enter a value between 1 and 9): 6
How important is POTASH compared to MANAGESE? (Enter a value between 1 and 9): 5
How important is POTASH compared to ZINK? (Enter a value between 1 and 9): 3
How important is POTASH compared to COPPER? (Enter a value between 1 and 9): 4
How important is CALCIUM_CARBONATE compared to FERROUS? (Enter a value between 1 and 9): 5
How important is CALCIUM_CARBONATE compared to MANAGESE? (Enter a value between 1 and 9): 4
How important is CALCIUM_CARBONATE compared to ZINK? (Enter a value between 1 and 9): 3
How important is CALCIUM_CARBONATE compared to COPPER? (Enter a value between 1 and 9): 3
How important is FERROUS compared to MANAGESE? (Enter a value between 1 and 9): 0.5
How important is FERROUS compared to ZINK? (Enter a value between 1 and 9): 0.25
How important is FERROUS compared to COPPER? (Enter a value between 1 and 9): 0.333
How important is MANAGESE compared to ZINK? (Enter a value between 1 and 9): 0.333
How important is MANAGESE compared to COPPER? (Enter a value between 1 and 9): 0.5
How important is ZINK compared to COPPER? (Enter a value between 1 and 9): 2
[[0.02408472 0.03917481 0.04231755 0.02941868 0.02139451 0.01741756
  0.01357368 0.01144881 0.01146197 0.01121932]
 [0.01204236 0.01958741 0.03757799 0.02571563 0.01843021 0.01445657
  0.00904007 0.0085952  0.00951344 0.00897545]
 [0.19267773 0.17646312 0.33854041 0.41145007 0.38664776 0.34835114
  0.21717883 0.24066559 0.28654937 0.26926356]
 [0.16842459 0.15669925 0.1692702  0.20572503 0.25776518 0.26126335
  0.19003148 0.20628479 0.2292395  0.2243863 ]
 [0.14508865 0.13697487 0.1128468  0.10286252 0.12888259 0.17417557
  0.16288412 0.17190399 0.17192962 0.17950904]
 [0.12042358 0.11799642 0.0846351  0.06857501 0.06444129 0.08708778
  0.13573677 0.13752319 0.17192962 0.13463178]
 [0.04816943 0.05882104 0.04231755 0.02938929 0.02148043 0.01741756
  0.02714735 0.0171904  0.01432747 0.01494413]
 [0.07232648 0.07834963 0.04836292 0.03428751 0.02577652 0.02177195
  0.05429471 0.0343808  0.01908419 0.02243863]
 [0.12042358 0.11799642 0.06770808 0.05143126 0.04296086 0.02902926
  0.10858941 0.10324564 0.05730987 0.08975452]
 [0.09633887 0.09793703 0.0564234  0.04114501 0.03222065 0.02902926
  0.08152358 0.0687616  0.02865494 0.04487726]]

In [19]:
# sum all columns in each row and divide by the number of criteria
final_weights = np.sum(matrix, axis=1) / len(criteria)

print("criteria weights: ", final_weights)

criteria weights:  [0.02215116 0.01639343 0.28677876 0.20690897 0.14870578 0.11229806
 0.02912047 0.04110733 0.07884489 0.05769116]

In [20]:
Sample=final_weights.sum(axis=0)
print(Sample)

1.0

In [27]:
# Define the decision matrix using the df dataframe
decision_matrix = df[['PH', 'EC', 'Organinc Carbon', 'PHOSPHOROUS', 'POTASH', 'CALCIUM_CARBONATE', 'FERROUS', 'MANAGESE', 'ZINK', 'COPPER']].values  # select only relevant columns

# Define the weights for each criterion from AHP analysis
weights = final_weights

# Expand the weights array to have the same shape as the decision matrix
expanded_weights = np.expand_dims(weights, axis=0)
expanded_weights = np.repeat(expanded_weights, decision_matrix.shape[0], axis=0)

# Calculate the weighted sum for each alternative
weighted_sums = np.sum(decision_matrix * expanded_weights, axis=1)

df['Results'] = weighted_sums
print(df)

     SAMPLE_NO     SEASON SAMPLE_DATE           FARMER_ENGLISH_NAME  \
0          453  2010-2011   7/15/2010        ADINATH  BHIMA  KAKADE
8          672  2010-2011  08-03-2010       SALIM FAKRUDDIN KANWADE
9          673  2010-2011  08-03-2010         NIJAM  BABALAL  ALASE
10        1209  2010-2011  08-11-2010     NEMGONDA  MALGONDA  PATIL
11        1397  2010-2011  08-12-2010  DHANPAL  BHAU  SHETTI  (PAI)
..         ...        ...         ...                           ...
418      40778  2019-2020  11/14/2019     ANNAPPA  KALLAPPA  ADGANE
419      40810  2019-2020  11/14/2019      BABASAHEB NARAYAN WALAKE
420      41464  2019-2020  12/16/2019     SUBHASH  KASHINATH  HEGRE
421      41895  2019-2020  01-04-2020         HASAN  BABALAL  SHEKH
422      41907  2019-2020  01-04-2020        KANCHAN RAMDAS BHOSALE

    VILLAGE_NAME_ENGLISH SURVEY_NO        PH  Unnamed: 7        EC  \
0              CHINCHWAD      3199  0.809392         NaN  0.381818
8              SHIRGUPPI       140  0.795580         NaN  0.781818
9              SHIRGUPPI       134  0.839779         NaN  0.836364
10               BORGAON       534  0.779006         NaN  0.272727
11                SHIROL      3152  0.861878         NaN  0.272727
..                   ...       ...       ...         ...       ...
418             SHIRDHON      1375  0.765193         NaN  0.363636
419               TERWAD       427  0.806630         NaN  0.309091
420              SADALGA       196  0.751381         NaN  0.400000
421              NANDANI       201  0.792818         NaN  0.490909
422            KURUNDWAD       502  0.745856         NaN  0.600000

     Organinc Carbon  PHOSPHOROUS    POTASH  CALCIUM_CARBONATE   FERROUS  \
0           0.704225     0.074161  0.935528           0.333333  0.782245
8           0.845070     0.257611  0.850197           0.500000  0.179229
9           0.422535     0.218579  0.759178           0.500000  0.162479
10          0.000000     0.257611  0.510771           0.388889  0.664992
11          0.563380     0.355191  0.510771           0.666667  1.000000
..               ...          ...       ...                ...       ...
418         0.788732     0.117096  0.850197           0.777778  0.874372
419         0.830986     0.163934  0.914669           0.444444  0.614740
420         0.605634     0.694770  0.616960           0.888889  0.874372
421         0.478873     0.691647  0.444402           0.833333  0.087102
422         0.605634     0.536690  0.531629           0.555556  0.329983

     MANAGESE      ZINK    COPPER   Results
0    0.339953  0.907895  0.095745  0.531901
8    0.912383  0.513158  1.000000  0.649544
9    0.328271  0.118421  0.361702  0.416186
10   0.094626  0.644737  0.468085  0.295748
11   0.445093  0.776316  0.468085  0.545070
..        ...       ...       ...       ...
418  0.404206  0.447368  0.946809  0.619076
419  0.421729  0.250000  0.946809  0.590662
420  0.439252  0.513158  0.787234  0.661599
421  0.158879  0.315789  0.361702  0.520548
422  0.193925  0.118421  0.592199  0.513613

[322 rows x 18 columns]

In [ ]:
df['Quality'] = pd.cut(df.SFI,bins=[0,0.25,0.5,0.75,1],labels=['Poor','Medium','Good','Excellent'])
print(df)